.header {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	z-index: 2;

	@media (min-width: 1024px) {
		padding: 20px 60px;
		width: calc(100% - 120px);
	}
}

.logo {
	width: 75px;

	@media (min-width: 1024px) {
		width: 106px;
	}
}
