.comicDetail {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Karla, sans-serif;
	font-size: 1rem;
	line-height: 1.1875;
	color: #222;

	li {
		margin-bottom: 0.3125rem;
	}
}

.label {
	font-weight: 700;
}
