.footer {
	background-color: #222;
	color: #f8f8f2;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 29px 29px 50px;
	gap: 16px;

	img {
		margin-bottom: 10px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 6px;

		li:not(:last-of-type) {
			padding-right: 6px;
			border-right: 1px solid #f8f8f2;
		}

		a {
			color: #f8f8f2;
		}
	}

	p {
		margin: 0;
	}
}
